<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.van.dao.CategoryMapper">
    <select id="findLv1Category" resultType="category">
        SELECT * FROM van_commodity_category where cc_parent_id=0
    </select>
    <select id="findLv2CategoryByP_id" resultType="category">
        SELECT * FROM van_commodity_category where cc_parent_id=#{P_id}
    </select>

</mapper>